@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply w-64 sm:w-[400px] border border-gray-300/70 py-2 px-3 bg-zinc-100/40 focus-visible:border-gray-400 focus:!border-gray-400 focus:!outline-none;
}

select {
  @apply w-36 h-7 px-1.5 cursor-pointer border focus-visible:border-gray-400 focus:!border-gray-400 focus:!outline-none;
}

body {
  color: #424242;
  background: #eee;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 1024px) {
  aside {
    transition: all 0.3s ease;
  }
  aside.closed {
    transform: translatex(-100%);
  }
}
